# Assignment 1:
### - The automated_stat_analyzer Function
- Scenario: A retail company needs a utility to quickly summarize sales data. Students must create a function that identifies the 
"Central Tendency" and "Dispersion" of any numerical column.
- ### Requirements:

* Accept a Pandas DataFrame and a column name.

* Calculate the Mean, Median, and Standard Deviation .

* Identify if the data is "Skewed" by comparing the Mean and Median.


* Bonus: If the column is categorical, return the Mode instead.

### Your Data

In [2]:
import pandas as pd
import numpy as np

# Create a synthetic Company Sales Dataset
data = {
    'Transaction_ID': range(1, 11),
    'Product_Category': ['Electronics', 'Home', 'Electronics', 'Sports', 'Home', 
                         'Electronics', 'Home', 'Sports', 'Electronics', 'Electronics'],
    'Sales_Amount': [150, 200, 155, 300, 210, 180, 205, 1000, 190, 160], # 1000 is an Outlier
    'Customer_Age': [25, 34, np.nan, 45, 23, 31, 29, np.nan, 38, 40],    # Contains Nulls (NaN)
    'Rating': [5, 4, 3, 5, 2, 4, 5, 2, 4, 3]
}

df_test = pd.DataFrame(data)

# Save to CSV for students to practice loading files [cite: 74]
df_test.to_csv('company_sales_test.csv', index=False)
print("Test dataset created successfully!")

Test dataset created successfully!

In [4]:
df_test.head()

   Transaction_ID Product_Category  Sales_Amount  Customer_Age  Rating
0               1      Electronics           150          25.0       5
1               2             Home           200          34.0       4
2               3      Electronics           155           NaN       3
3               4           Sports           300          45.0       5
4               5             Home           210          23.0       2

In [5]:
import pandas as pd

def automated_stat_analyzer(df, column_name):
    """
    Company Task: Provide a summary report of a specific data variable.
    
    Instructions:
    1. Check if the column is numerical or categorical.
    2. For numerical: Calculate Mean, Median, and Standard Deviation.
    3. For categorical: Calculate the Mode.
    4. Return a dictionary with these statistical measures.
    """

    # Check if column exists
    if column_name not in df.columns:
        return {"Error": "Column not found"}

    column = df[column_name]

    # If column is numerical
    if pd.api.types.is_numeric_dtype(column):
        return {
            "Column Type": "Numerical",
            "Mean": column.mean(),
            "Median": column.median(),
            "Standard Deviation": column.std()
        }

    # If column is categorical
    else:
        mode_value = column.mode()
        return {
            "Column Type": "Categorical",
            "Mode": mode_value.iloc[0] if not mode_value.empty else None
        }
automated_stat_analyzer(df_test, "Sales_Amount")

{'Column Type': 'Numerical',
 'Mean': np.float64(275.0),
 'Median': np.float64(195.0),
 'Standard Deviation': np.float64(258.30645021412494)}

## Assignment 2: 
  ### The null_handling_strategy Function

#### Scenario: Incoming user data often has missing values.Students must implement a flexible strategy to handle these "Null Values" to prepare data for Machine Learning.
### Requirements:

* Check for null values in the DataFrame.

* Apply a strategy based on parameters: "drop_rows", "fill_mean", or "fill_median" .

* Ensure the function only fills numerical columns when using mean or median.

In [9]:
import pandas as pd

def null_handling_strategy(df, strategy="fill_mean"):
    """
    Company Task: Clean a dataset by resolving missing (NaN) values.
    """

    # Check if DataFrame contains null values
    if not df.isnull().values.any():
        return df

    # Strategy 1: Drop rows with any null values
    if strategy == "drop_rows":
        return df.dropna()

    # Select only numerical columns
    numeric_columns = df.select_dtypes(include='number').columns

    # Strategy 2: Fill nulls with mean (numerical columns only)
    if strategy == "fill_mean":
        df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())
        return df

    # Strategy 3: Fill nulls with median (numerical columns only)
    if strategy == "fill_median":
        df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].median())
        return df

    # Invalid strategy
    return {"Error": "Invalid strategy provided"}

cleaned_df = null_handling_strategy(df_test, strategy="fill_mean")
cleaned_df["Customer_Age"]

0    25.000
1    34.000
2    33.125
3    45.000
4    23.000
5    31.000
6    29.000
7    33.125
8    38.000
9    40.000
Name: Customer_Age, dtype: float64