In [2]:
# 5/0

In [3]:
try:
    5/0
except:
    print("net accept tho davided by zero")

net accept tho davided by zero

In [4]:
try:
    5/0
except Exception as e:
    print(e)

division by zero

In [6]:
try:
    x=10
    y=int(input())
    x/y
except:
    print("division by zero")
else:
    print("shotrannnn")
finally:
    print("Done")

shotrannnn
Done

In [4]:
import random

In [13]:
lst = ["Ahmed", "Ali", "Omar", 1, 3, 8]
print(random.choice(lst))
print(random.randint(1,10))

1
3

In [32]:
import os

In [36]:
base ="D:/DEPI/DEPI_AIS2_G3_ml/src/python/session3"
type(base)
file = os.listdir(base)
print((file))

['code.ipynb', 'removeable']

In [39]:
os.remove(base+"/removeable")

In [42]:
directory = "./tmp_directory_test_again"

if not os.path.exists(directory):
    os.makedirs(directory)
    print("not exist")
else:
    print("Directory already exists:", directory)

Directory already exists: ./tmp_directory_test_again

In [47]:
path = "tmp_directory"

if not os.path.exists(path):
    os.makedirs(path)
for i in range(20):
    inner_path = os.path.join(path, "dir_" + str(i))
    if not os.path.exists(inner_path):
        os.makedirs(inner_path)

In [51]:
with open("./tmp_directory/text_1.txt", "a+") as file: # "w+" "r+"
# content = file.read()

    file.write(" New line added\n") # Write new content

    file.seek(0) # Move the file pointer to the beginning

    updated_content = file.read() # Read the updated content

    print(updated_content)

 New line added

In [ ]:
# def std_info(name: str,age: int):
#     """ 
#     this function take student information like name and age
#     param_1 :take user mane form user
#     type param_1: str
#     param_2 :take age form user
#     type param_2:int 

#     return :print student information for the name and age
#     type return: str,int

#     """
#     return f"my name is {name} and my age is {age}"

In [3]:
from std import std_info

In [4]:
std_info("hashem",15)

'my name is hashem and my age is 15'

In [3]:
std_info()

'my name is hashem and my age is 20'

In [36]:
def sum(num_1, num_2):
    
    return num_1 + num_2

def sub(num_1, num_2):
    
    return num_1 - num_2

def div(num_1, num_2):
    
    return num_1 / num_2

def multply(num_1, num_2):
    
    return num_1 * num_2

def main():
    print("---------calc------")
    print("choose operations")
    print("1-sum")
    print("2-sub")
    print("3-div")
    print("4-mul")
    
    choice = input("Enter the operation")
    num_1 = float(input("Enter first numb"))
    num_2 = float(input("Enter second numb"))
    
    if choice == "1":
        result = sum(num_1, num_2)
    elif choice == "2":
        result = sub(num_1, num_2)
        
    elif choice == "3":
        result = div(num_1, num_2)
        
    elif choice == "4":
        result = multply(num_1, num_2)
    else:
        print("invalid choice")
        return
    print("Result: ", result)

In [37]:
main()

---------calc------
choose operations
1-sum
2-sub
3-div
4-mul
invalid choice

In [1]:
def func_1(*name):
    print(name)
    print(type(name))
def func_2(**name):
    print(name)
    print(type(name))

In [2]:
func_1("hashem","mohamed")
func_2(kay1="hashem" ,key2="mohamed",key3 =15)

('hashem', 'mohamed')
<class 'tuple'>
{'kay1': 'hashem', 'key2': 'mohamed', 'key3': 15}
<class 'dict'>

In [1]:
def sum(n1,n2):


    return n1+n2

In [ ]:
print(type(sum(10,20)))

<class 'function'>

In [27]:
result=lambda x: x + 10
result(20)

30

In [3]:
add_number=lambda num1, num2 : num1 +num2 
print(add_number(10,20))

30

In [4]:
def reversestr(x):
    y= x.split(" ")
    y.reverse()
    result =" ".join(y)

    return y

In [6]:
reversestr("hello world")

['world', 'hello']